{% extends "base.html" %}
{% load i18n adminmedia %}
{% block extrastyle %}<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />{% endblock %}
{% block extrascript %}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(function() {
            $( ".datePicker" ).datepicker({changeMonth: true, changeYear: true, yearRange: '-100:-10'});
        });
    </script>
{% endblock %}
{% block extrahead %}{% endblock %}
{% block title %}ﺇﺿﺎﻓﺔ ﻋﻀﻮ{% endblock %}
{% block content_title %}إستمارة عضوية{% endblock %}
{% block title_desc %}برجاء إضافة البيانات المطلوبة{% endblock %}
{% block add_member_nav %}active disabled{% endblock %}
{% block content %}
<form action="/members/add_member/" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
	{%for field in form%}
	    <div class="control-group {%if field.errors%}error{%endif%}">
        {{field.label_tag}}
            <div class="controls">
                {{field}}
                <span class="help-inline">{{field.errors}}</span>
            </div>
        </div>
    {% endfor %}
	<input type="submit" value="ﺣﻔﻆ ﻭﻃﺒﺎﻋﺔ" />
</form>
{% endblock %}