{% extends "base.html" %}
{% load i18n adminmedia staticfiles %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static "css/jquery-ui.css"%}" />
{% endblock %}
{% block extrascript %}
    <script src="{% static "js/jquery-ui.js"%}"></script>
    <script>
        $(function() {
            $( ".datePicker" ).datepicker({changeMonth: true, changeYear: true, yearRange: '-100:-10'});
        });
    </script>
{% endblock %}
{% block extrahead %}{% endblock %}
{% block title %}ﺇﺿﺎﻓﺔ ﻋﻀﻮ{% endblock %}
{% block content_title %}إستمارة عضوية{% endblock %}
{% block title_desc %}برجاء إضافة البيانات المطلوبة{% endblock %}
{% block add_member_nav %}active disabled{% endblock %}
{% block content %}
<form action="/members/{% if edit %}{{ member_id }}/edit_member{% else %}add_member{% endif %}/" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
	{% for field in form.visible_fields %}
	    <div class="control-group {%if field.errors%}error{%endif%}">
        {{ field.label_tag }}
            <div class="controls">
                {{field}}
                <span class="help-inline">{{field.errors}}</span>
            </div>
        </div>
    {% endfor %}
	<input type="submit" value={% if edit %}"حفظ التعديل"{% else %}"ﺣﻔﻆ ﻭﻃﺒﺎﻋﺔ"{% endif %} />
</form>
{% endblock %}