{% extends "base.html" %}
{% block title %}الأعضاء{% endblock %}
{% block content_title %}الأعضاء{% endblock %}
{% block title_desc %}
    <a href="/members/add_member/">إضافة عضو</a><br/>
    <p>عدد الاعضاء: {{mcount}}</p>
{% endblock %}
{% block member_list_nav %}active{% endblock %}
{% block content %}
{% if members_list %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>رقم العضوية</th>
    		    <th>الأسم</th>
    		    <th>نوع العضوية</th>
    		    <th>تاريخ العضوية</th>
    		    <th>أخر تعديل</th>
                <th>الأشتراك السنوى</th>
    	    </tr>
        </thead>
        <tbody>
    	{% for member in members_list %}
    	    <tr>
    	    	<td>{{ member.membership_id }}</td>
    	    	<td><a href="/members/{{member.membership_id}}/">{{ member.name }}</a></td>
    	    	<td>{{ member.get_membership_type_display }}</td>
    	    	<td>{{ member.create_date.year }}</td>
    	    	<td>{{ member.modified_date }}</td>
                <td>
                    {% if member.get_last_paid == now %}
                        تسديد
                    {% else %}
                        <a href="/members/{{ member.membership_id }}/pay_receipt/">تسديد</a>
                    {% endif %}
                </td>
    	    </tr>
    	{% endfor %}
        </tbody>
    </table>
    <div class="pager">
        <span class="{% if not members_list.has_previous %}disabled {% endif %}previous">
            <a href="?page={{ members_list.previous_page_number }}">السابق &larr;</a>
        </span>

        <span class="current">
        صفحة {{ members_list.number }} من {{ members_list.paginator.num_pages }}.
        </span>

        <span class="{% if not members_list.has_next %}disabled {% endif %}next">
            <a href="?page={{ members_list.next_page_number }}">التالى</a>
        </span>
    </div>
{% else %}
    <p>عفوا لايوجد أعضاء</p>
{% endif %}
{% endblock %}

