{% extends "base.html" %}
{% load i18n staticfiles %}
{% block extrastyle %}
    <style type="text/css" media="screen">
        #printThis {display: none;}
    </style>
    <link href="{% static "css/print.css"%}" rel="stylesheet" media="print">
{% endblock %}
{% block title %}ﺇﺿﺎﻓﺔ ﻋﻀﻮ{% endblock %}
{% block content_title %}إستمارة عضوية{% endblock %}
{% block title_desc %}برجاء إضافة البيانات المطلوبة{% endblock %}
{% block content %}
<form action="/members/{{ membership_id }}/pay_receipt/" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
	{% for hidden in form.hidden_fields %}
        {{ hidden }}
        <div class="control-group">
            {{ hidden.label_tag }} 
            <div class="controls hidden-field">
                {{ hidden.value }}
            </div>
        </div>
    {% endfor %}
	{%for field in form.visible_fields%}
	    <div class="control-group {%if field.errors%}error{%endif%}">
        {{field.label_tag}}
            <div class="controls">
                {{field}}
                <span class="help-inline">{{field.errors}}</span>
            </div>
        </div>
    {% endfor %}
	<input type="submit" value="ﺣﻔﻆ ﻭﻃﺒﺎﻋﺔ" onClick="window.print()"/>
</form>
<table id="printThis" cellpadding="7">
    {% for hidden in form.hidden_fields %}
        <tr>
            <td>{{ hidden.label_tag }}</td>
            <td>{{ hidden.value }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}