<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3></h3>
  </div>
  <div class="modal-body" id="printThis">
    <table cellpadding="5">
      <tbody>
        <tr>
          <td colspan="4"><h3>جمعية سلطان الخيرية: إستمارة تسجيل عضوية</h3></td>
        </tr>
        <tr>
          <td>رقم العضوية</td>
          <td>{{ member.membership_id }}</td>
        </tr>
        <tr>
          <td>الأسم</td>
          <td>{{ member.name }}</td>
        </tr>
        <tr>
          <td>نوع العضوية</td>
          <td>{{ member.get_membership_type_display }}</td>
        </tr>
        <tr>
          <td>الوظيفة</td>
          <td>{{ member.job }}</td>
        </tr>
        <tr>
          <td>الرقم القومى</td>
          <td>{{ member.national_number }}</td>
        </tr>
        <tr>
          <td>تاريخ الميلاد</td>
          <td>{{ member.birth_date }}</td>
        </tr>
        <tr>
          <td>محل الميلاد</td>
          <td>{{ member.birth_place }}</td>
        </tr>
        <tr>
          <td>تاريخ العضوية</td>
          <td>{{ member.create_date }}</td>
        </tr>
        <tr>
          <td>تاريخ التعديل</td>
          <td>{{ member.modified_date }}</td>
        </tr>
      </tbody>
    </table>
    {% for r in rec %}
      <hr/>
      <table cellpadding="5">
        <tbody>
          <tr>
            <td colspan="3"><h5>{% ifequal r.rec_type 'P' %}إيصال رسوم تسجيل{% else %}إيصال رسوم إشتراك سنوية{% endifequal %}</h5></td>
          </tr>
          <tr>
            <td>رقم الإيصال</td>
            <td>{{ r.rec_number }}</td>
          </tr>
          <tr>
            <td>نوع الإيصال</td>
            <td>{{ r.get_rec_type_display }}</td>
          </tr>
          <tr>
            <td>التاريخ</td>
            <td>{{ r.current_date }}</td>
          </tr>
          <tr>
            <td>القيمة</td>
            <td>{% ifequal r.rec_type 'P' %}{{ amount.regestration_fee }}{% else %}{{ amount.year_fee }}{% endifequal %} جنية</td>
          </tr>
          <tr>
            <td>التوقع:</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    {% empty %}
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">إغلاق</button>
    <button class="btn btn-primary" onClick="window.print()">طباعة</button>
  </div>
</div>
