{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %} dir="rtl" {% endif %}>
<head>
	<title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css"%}" rel="stylesheet" media="screen">
    {% if LANGUAGE_BIDI %}
    <link href="{% static "css/bootstrap.rtl.css"%}" rel="stylesheet" media="screen">
    {% endif %}
    {% block extrastyle %}{% endblock %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.js"%}"></script>
    {% block extrascript %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>


<body>
	<header class="page-header">
		<div class="container">
	        <h1>{% block content_title %}{% endblock %}</h1>
	        <p class="lead">{% block title_desc %}{% endblock %}</p>
	    </div>
    </header>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
		        <ul class="nav nav-list">
			        <li class="nav-header">خدمات الأعضاء</li>
                    <li class="{% block member_list_nav %}{% endblock %}"><a href="/members/">قائمة الأعضاء</a></li>
			        <li class="{% block add_member_nav %}{% endblock %}"><a href="/members/add_member/">إضافة عضو</a></li>
			        <li class="divider"></li>
		        </ul>
		    </div>
		    <div class="span10">
		        {% block content %}{% endblock %}
		    </div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>built by</p>
		</div>
	</footer>

</body>

</html>